{% extends 'base.html' %}
{% block content %}
<section class="p-5">
    <h3>Announcement Management</h3>
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="tab-title" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-1">All announcement</a></li>
            <li class="tab-title" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-2">Students</a></li>
            <li class="tab-title" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-3">Teachers</a></li>
        </ul>
        <div class="tab-content border border-1">
            <div id="tab-1" class="tab-pane active" role="tabpanel">
                <section class="p-5">
                    <section class="d-flex justify-content-sm-between mb-3">
                        <h4>Announcement list ("number")</h4>
                        <div class="btn-group gap-3" role="group"><button class="btn btn-primary" type="button">Add new announcement</button><button class="btn btn-primary" type="button">Erase this announcement</button></div>
                    </section>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Announcement ID</th>
                                    <th>User ID</th>
                                    <th>Message</th>
                                    <th>Date publish</th>
                                    <th>For</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 2</td>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                </tr>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
            <div id="tab-2" class="tab-pane" role="tabpanel">
                <section class="p-5">
                    <section class="d-flex justify-content-sm-between mb-3">
                        <h4>Announcement for student list ("number")</h4>
                        <div class="btn-group gap-3" role="group"><button class="btn btn-primary" type="button">Add new user</button><button class="btn btn-primary" type="button">Erase this user</button></div>
                    </section>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Announcement ID</th>
                                    <th>User ID</th>
                                    <th>Message</th>
                                    <th>Date publish</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                </tr>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
            <div id="tab-3" class="tab-pane" role="tabpanel">
                <section class="p-5">
                    <section class="d-flex justify-content-sm-between mb-3">
                        <h4>Announcement for teacher list ("number")</h4>
                        <div class="btn-group gap-3" role="group"><button class="btn btn-primary" type="button">Add new user</button><button class="btn btn-primary" type="button">Erase this user</button></div>
                    </section>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Announcement ID</th>
                                    <th>User ID</th>
                                    <th>Message</th>
                                    <th>Date publish</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                </tr>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
{% endblock %}