{% extends 'base.html' %}
{% block content %}
<section class="p-5">
    <h3>Student Management</h3>
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="tab-title" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-1">All Students</a></li>
        </ul>
        <div class="tab-content border border-1">
            <div id="tab-1" class="tab-pane active" role="tabpanel">
                <section class="p-5">
                    <section class="d-flex justify-content-sm-between mb-3">
                        <h4>Student list ("number")</h4>
                        <div class="btn-group gap-3" role="group"><button class="btn btn-primary" type="button">Add New Student</button><button class="btn btn-primary" type="button">Erase This Student</button></div>
                    </section>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Student ID</th>
                                    <th>User ID</th>
                                    <th>FullName</th>
                                    <th>DateOfBirth</th>
                                    <th>Gender</th>
                                    <th>Status</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                <tr>
                                  <td>{{ loop.index }}</td>
                                  <td>{{ student.studentid }}</td>
                                  <td>{{ student.userid }}</td>
                                  <td>{{ student.fullname }}</td>
                                  <td>{{ student.dateofbirth }}</td>
                                  <td>{{ student.gender }}</td>
                                  <td>
                                    {% if student.status == True %}
                                      Active
                                    {% else %}
                                      Inactive
                                    {% endif %}
                                  </td>
                                </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
            
<section class="py-4 py-xl-5" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card mb-5">
                    <div class="card-body p-sm-5">
                        <h4 class="text-center mb-4">Student Details</h4>
                        <section>
                            <form class="text-center" method="post">
                                <div class="mb-3"><input class="form-control" type="text" name="userid" placeholder="User ID" /></div>
                                <div class="mb-3"><input class="form-control" type="text" name="fullname" placeholder="Full Name" /></div>
                                <div class="mb-3"><input class="form-control" type="text" name="dateofbirth" placeholder="Date Of Birth" /></div>
                                <div class="mb-3"><input class="form-control" type="password" name="gender" placeholder="Gender" /></div>
                                <div class="mb-3 d-flex justify-content-between mt-3"><button class="btn btn-primary d-block w-25">Save</button><button class="btn btn-primary d-block w-25 cancel-btn" type="button">Cancel</button></div>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<form class="p-5" action="/student-management" method="post">
    <h3>Add New Student</h3>
    <div class="mb-3">
      <input class="form-control" type="text" name="userid" placeholder="User ID" />
    </div>
    <div class="mb-3">
      <input class="form-control" type="text" name="fullname" placeholder="FullName" />
    </div>
    <div class="mb-3">
        <input class="form-control" type="text" name="dateofbirth" placeholder="Date Of Birth" />
    </div>
    <div class="mb-3">
        <input class="form-control" type="text" name="gender" placeholder="Gender" />
    </div>
    <div class="mb-3">
      <input type="hidden" name="action1" value="add" />
      <button class="btn btn-primary d-block w-100" type="submit">Add Student</button>
    </div>
  </form>
{% endblock %}