{% extends 'base.html' %}
{% block content %}
<section class="py-4 py-xl-5" id="updateFormSection" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card mb-5">
                    <div class="card-body p-sm-5">
                        <h4 class="text-center mb-4">Teacher profile</h4>
                        <section>
                            <form class="text-center" method="post" id="updateForm">
                                <div class="mb-3"><input class="form-control" type="text" name="teacherid" id ="teacherIdInput" placeholder="{{teacher_profile.teacherid}}" value="{{teacher_profile.teacherid}}" disabled="disabled" /></div>
                                <div class="mb-3"><input class="form-control" type="text" name="userid" id="userIdInput" placeholder="{{teacher_profile.userid}}" value="{{teacher_profile.userid}}" disabled="disabled" /></div> 
                                <div class="mb-3"><input class="form-control" type="text" name="fullname" id="fullnameInput" placeholder="{{teacher_profile.fullname}}" value="{{teacher_profile.fullname}}" /></div>
                                <div class="mb-3"><input class="form-control" type="text" name="department" id="departmentInput" placeholder="{{teacher_profile.department}}" value="{{teacher_profile.department}}" /></div>
                                <div class="mb-3 d-flex justify-content-between mt-3">
                                    <button class="btn btn-primary d-block w-25" type="submit">Save</button>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}