<nav class="navbar navbar-light navbar-expand-md py-3 border-bottom border-2 border-secondary">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <i class="fa-solid fa-bolt fa-3x fa-rotate-by" style="color: #74C0FC; --fa-rotate-angle: 41deg;"></i>
            <span></span>
        </a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navcol-1" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto gap-2">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/news">News</a></li>
                <li class="nav-item"><a class="nav-link" href="/grades">Grades</a></li>
                <li class="nav-item"><a class="nav-link" href="/student-profile">Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="/student-management">Students</a></li>
                <li class="nav-item"><a class="nav-link" href="/teacher-management">Teachers</a></li>
                <li class="nav-item"><a class="nav-link" href="/course-management">Courses</a></li>
                <li class="nav-item"><a class="nav-link" href="/grade-management">Grades</a></li>
                <li class="nav-item"><a class="nav-link" href="/announcement-management">Announcement</a></li>
                <li class="nav-item"><a class="nav-link" href="/user-management">Accounts</a></li>
                <li class="nav-item"><a class="nav-link" href="/teacher-profile">Profile</a></li>
            </ul><button class="btn btn-primary mt-md-0 mt-3 btn-cus" type="button">Log out</button>
        </div>
    </div>
</nav>