<nav class="navbar navbar-light navbar-expand-md py-3 border-bottom border-2 border-secondary">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <i class="fa-solid fa-bolt fa-3x fa-rotate-by" style="color: #74C0FC; --fa-rotate-angle: 41deg;"></i>
      <span></span>
    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1">
      <span class="visually-hidden">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navcol-1" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto gap-2">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        {% if session['permission'] == 'Sinh viên' %}
          <li class="nav-item">
            <a class="nav-link" href="/news">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/grades">Grades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/student-profile">Profile</a>
          </li>
        {% elif session['permission'] == 'Giáo viên' %}
          <li class="nav-item">
            <a class="nav-link" href="/news">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/grade-management">Grades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher-profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/course_feedback">Feedback</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/attendance">Attendance</a>
          </li>
        {% elif session['permission'] == 'Quản trị viên' %}
          <li class="nav-item">
            <a class="nav-link" href="/news">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/student-management">Students</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher-management">Teachers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/course-management">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/announcements">Announcements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/accounts">Accounts</a>
          </li>
        {% endif %}
      </ul>
      <div class="d-flex gap-3">
        {% if current_user.is_authenticated %}
          <button class="btn btn-primary mt-md-0 cancel-btn" type="button" data-bs-toggle="modal" data-bs-target="#modalPassword">Change password</button>
          <a href="/logout"><button class="btn btn-primary mt-md-0 btn-cus" type="button">Log out</button></a>
        {% else %}
          <a href="/login"><button class="btn btn-primary mt-md-0 btn-cus" type="button">Login</button></a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>

<section class="py-4 py-xl-5">
  <div class="modal fade" id="modalPassword" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Change password</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="text-center" method="post" action="/changepassword">
            <div class="mb-3 d-flex">
              <input id="oldPassword" class="form-control" type="password" name="old_password" placeholder="Your old password" required />
            </div>
            <div class="mb-3 d-flex">
              <input id="newPassword" class="form-control" type="password" name="new_password" placeholder="Your new password" required />
            </div>
            <div class="mb-3 d-flex">
              <input id="confirmPassword" class="form-control" type="password" name="confirm_password" placeholder="Confirm your password" required />
            </div>
            <div class="mb-3 d-flex justify-content-between mt-3">
              <button class="btn btn-primary d-block w-25" type="submit"><input type="hidden" />Change</button>
              <button class="btn btn-primary d-block w-25 cancel-btn" data-bs-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% if session['message'] %}
  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div class="toast align-items-center show" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false" data-bs-delay="3000">
      <div class="d-flex">
        <div class="toast-body">{{ session['message'] }}</div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>
{% endif %}
