*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn-outline-primary {
    --bs-btn-color: #1491f1;
    --bs-btn-border-color: #74c0fc;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #74c0fc;
    --bs-btn-hover-border-color: #74c0fc;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #74c0fc;
    --bs-btn-active-border-color: #74c0fc;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #74c0fc;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #74c0fc;
    --bs-gradient: none;
}


.h-rem-12{
    height: 12rem;
}
.dropdown-menu a:hover{
    background-color: #46a4ec !important;
    color: white !important;
    cursor: pointer;
}
.i-cus:hover{
    transition: 0.2s ease-in-out;
    color: #74c0fc;
    cursor: pointer;
}
#active{
    color: #46a4ec;
}

.nav-item{
    padding-left:10px;
    padding-right:10px;
}

.nav-item:hover{
    background-color: #74c0fc;
    border-radius: 20px;
    color: white !important;
}
button{
    background-color: #74c0fc !important;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button:hover{
    background-color: #46a4ec !important;
}

.cancel-btn{
    background-color: white !important;
    border: none !important;
    box-shadow: none !important;
    color:#1491f1 !important;
    border-radius: 0;
    border-bottom: 2px solid #74c0fc !important;
}
.cancel-btn:hover{
    background-color: #74c0fc !important;
    color: white !important;;
    border: none !important;
    box-shadow: none !important;
    border-radius: 8px;
    border-bottom: 2px solid #74c0fc !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tab-title:hover{
    background-color: #74c0fc !important;
}   

tr:hover td{
    cursor: pointer;
    background-color: #74c0fc !important;
    color: white !important;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.2s;
    
}

.card:hover{
    transform: scale(102%);
    border: #74c0fc solid 1px !important;
    transition: 0.2s;
}

a{
    text-decoration: none !important;
    color: black !important;
}